#home-body-parent {
    display: flex;
    /* border: 1px solid #000; */
    background-color: aliceblue;
}

#left-area-home-body {
    /* height: 100vh; */
    width: 25%;
    border: 1px solid #e4e6eb;
}

.left-area-category-inner-home-body-div {
    height: fit-content;
    width: 100%;
    padding: 2% 2%;
    /* border: 1px solid #000; */
    display: flex;
}

.left-area-inner-category-circle {
    height: 6vh;
    width: 12%;
    /* border: 1px solid #000; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: aliceblue;
}

.left-area-inner-category-circle>img {
    height: 100%;
    width: 100%;
}

.left-area-inner-category-title {
    height: 6vh;
    width: fit-content;
    padding: 2%;
    /* border: 1px solid #000; */
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-area-home-body {
    /* height: 100vh; */
    width: 40%;
    /* border: 1px solid #000; */
    margin-left: 5%;

}

#mid-area-home-logo-search {
    height: 15vh;
    width: 100%;
    border: 1px solid #e4e6eb;
    border-radius: 20px;
    background-color: white;
    margin: 2% 0;
}

#post-area-within-home-body {
    height: 7.5vh;
    width: 98%;
    margin: auto;
    border-bottom: 1px solid #e4e6eb;
    position: relative;
    display: flex;
    align-items: center;
}

#profile-image-holder-inner-body {
    height: 6vh;
    width: 8%;
    /* border: 1px solid #000; */
    border-radius: 50px;
    overflow: hidden;
}

#profile-image-holder-inner-body>img {
    height: 100%;
    width: 100%;
}

#profile-search-area-inner-body {
    height: 6vh;
    width: 90%;
    border-radius: 20px;
    /* border: 1px solid #000; */
    margin-left: 1%;
    overflow: hidden;
}

#profile-search-area-inner-body>input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2em;
    background-color: #e4e6eb;
}

#file-post-area-within-home-body {
    height: 7vh;
    width: 98%;
    /* border: 1px solid #000; */
    margin: auto;
    margin-top: 1px;
    display: flex;
}

.inside-file-post-area {
    height: 100%;
    width: 33%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-post-image-holder {
    height: 60%;
    width: 15%;
    /* border: 1px solid #000; */
}

.file-post-image-holder>img {
    height: 100%;
    width: 100%;
}

.inside-file-post-area>p {
    margin-left: 1%;
}

.mid-area-post-div {
    /* height: 85vh; */
    width: 100%;
    border: 1px solid #e4e6eb;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

/* post source holde parent  */
.mid-area-post-div>div:nth-child(2) {
    overflow: hidden;
    height: 80vh;
    /* border: 1px solid #000; */
}

.suggestion-title {
    height: 7vh;
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.sender-given-name-profile-image {
    /* height: 10vh; */
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
}

.sender-profile-image-holder-circle {
    height: 7vh;
    width: 9%;
    /* border: 1px solid #000; */
    border-radius: 50px;
    margin-left: 1%;
    overflow: hidden;
}

.sender-profile-image-holder-circle>img {
    height: 100%;
    width: 100%;
}

.sender-name {
    height: 7vh;
    width: 70%;
    /* border: 1px solid #000; */
    margin-left: 1%;
}

.elipsis {
    height: 7vh;
    width: 10%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.xmark {
    height: 7vh;
    width: 10%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sender-title-description {
    margin-left: 5%;
    margin-top: 2%;
}

.post-source-holder {
    /* border: 1px solid #000; */
    height: 100%;
    width: 100%;
}

.post-source-holder>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.like-n-love {
    height: 7vh;
    width: 98%;
    margin: auto;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.like-number-nameing {
    display: flex;
}

#like-span {
    height: 3vh;
    width: 20px;
    /* border: 1px solid #000; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.like-share-count-div {
    height: 7vh;
    width: 30%;
    /* border: 1px solid #000; */
    margin-left: auto;
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.like-share-count-div>div {
    height: 100%;
    width: 50%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-share-count-div>div>i {
    margin-left: 1%;
}

.like-comment-share-div {
    height: 8vh;
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
}

.inner-like-comment-share-div {
    height: 100%;
    width: 33%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-like-comment-share-div>i {
    margin-right: 2%;
}

#right-area-home-body {
    height: 100vh;
    width: 22%;
    border: 1px solid #e4e6eb;
    margin-left: auto;
    margin-right: 0%;
}

.group-conversation {
    height: 15vh;
    width: 95%;
    /* border: 1px solid #000; */
    margin-left: 2.5%;
    margin-top: 5%;
}

.group-conversation-title {
    margin-left: 2%;
    font-size: 1.2em;
    font-weight: 600;
}

.group-addition {
    margin-left: 2%;
    font-size: 1.2em;
    margin-top: 2%;
}

#create-post-home-model {
    height: 150vh;
    width: 100%;
    border: 1px solid #000;
    background-color: rgba(252, 253, 252, 0.8);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#create-post-pop {
    /* height: 55vh; */
    width: 30%;
    border: 1px solid #e4e6eb;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 1%;
}

#create-post-pop-header {
    height: 8vh;
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    position: relative;

}

#create-post-pop-header>p {
    margin: auto;
}

#eliminate-create-post-pop {
    position: absolute;
    height: 4vh;
    width: 6%;
    /* border: 1px solid #000; */
    border-radius: 50%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b0b1b5;
}

#create-post-current-user-image-name {
    height: 8vh;
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#create-post-current-user-image-holder {
    height: 6vh;
    width: 10%;
    /* border: 1px solid #000; */
    border-radius: 50px;
    overflow: hidden;
}

#create-post-current-user-image-holder>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#create-post-name-option {
    height: 6vh;
    width: 85%;
    /* border: 1px solid #000; */
}

#create-post-pop-selector-div {
    height: 3vh;
    width: fit-content;
    padding: 0 2%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #e4e6eb;
}

#create-post-pop-selector-div>p {
    margin: 0 5%;
}

#create-post-pop-input-parent {
    height: 25vh;
    width: 95%;
    /* border: 1px solid #000; */
    margin-left: 2.5%;
    position: relative;
}

#create-post-pop-input {
    width: 100%;
    height: 6vh;
    border: none;
    outline: none;
    font-size: 1.5em;
}

#create-post-imoji-font-parent {
    height: 6vh;
    width: 100%;
    /* border: 1px solid #000; */
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#create-post-font {
    height: 5vh;
    width: 10%;
    /* border: 1px solid #000; */
    margin-left: 2%;
}

#create-post-font>img {
    height: 100%;
    width: 100%;
}

#create-imoji-div {
    height: 5vh;
    width: 10%;
    /* border: 1px solid #000; */
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-post-file-type-parent-div {
    height: 7vh;
    width: 95%;
    border: 1px solid #e4e6eb;
    border-radius: 10px;
    margin: 2% 2.5%;
    display: flex;
    align-items: center;
}

#file-type-uploader-align {
    height: 5vh;
    width: 45%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 0;
}

.file-type-uploader-children-div {
    height: 4vh;
    width: 14%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-type-uploader-children-div>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#create-post-btn {
    height: 5vh;
    width: 95%;
    margin-left: 2.5%;
    border: 1px solid #e4e6eb;
    border-radius: 10px;
    background-color: #e4e6eb;
    font-size: 1.1em;
    cursor: not-allowed;
    color: #b0b1b5;
}